::-webkit-scrollbar{
    width: 12px;
    
  }
  /* ::-webkit-scrollbar-track{
    background: #000000 ;
  } */
  ::-webkit-scrollbar-thumb {
    background-color: #e2e2e2 ;
    border-radius: 10px;
  
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #c4c1c1 ;
    
  
  }
.main {
  background-color: aqua;
}